transcript
history
rtl_work
db
greybox_tmp
incremental_db
simulation/*
# but testbench is need
!simulation/testbench

output_files/*
# but *.sof and *.jic is useful for FPGA loading
!output_files/DE2_115_Genesis.sof
!output_files/DE2_115_Genesis.jic
!output_files/DE2_115_Genesis.cof

modelsim.*
vsim.*
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist
*.cdf
